.section-header {
  width: 100%;
  justify-content: center;
  display: flex;
}
.section-table {
  width: 69%;
  justify-content: center;
  align-content: center;
  display: inline-flex;
}

.section-header div {
  padding: 10px;
}

.div-1 {
  width: 30%;
}
.div-2 {
  justify-content: center;

  display: flex;
  width: 40%;
}

.navigate-bar {
  width: 80%;
  height: 90%;
}

.filter {
  width: 40%;
  left: 58%;
  position: relative;
}

@media (max-width: 600px) {
  .section-table {
    width: 200%;
  }
  .section-header {
    width: 200%;
  }
}
