<div class="container">
    <app-header></app-header>
    <div class="section-header">
        <div class="div-1">
            <app-total-ventas></app-total-ventas>
        </div>
        <div class="div-2">
                <div class="navigate-bar">
                    <app-navigate-bar></app-navigate-bar>
                    <div class="filter">
                        <app-filter></app-filter>
                    </div>
                </div>
                
            
        </div>
    </div>
</div>